<h1>Confirmar Cuenta</h1>

<p>
  Hola, estas a un paso de comenzar a crear una comunidad en Meeti. Confirma tu
  cuenta en el siguiente enlace:
</p>

<a href="<%= url %>"> Confirmar tu cuenta</a>

<p>Sino puedes acceder a este enlace, visita: <%= url %></p>
<p>Si no solicitaste este email puedes ignorarlo.</p>
